@model string
<body>
    @Html.ValidationSummary()
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <fieldset>
            <p>
                <label for="description">description:</label>
                <input type="text" name="description" value="" />
            </p>
            <p>
                <input type="submit" name="buttonSubmit" value="add" />
            </p>
        </fieldset>
    </form>
</body>